yarn/*
raycast/*
auth0/*
direnv/*
filezilla/*
flutter/*
gcloud/*
gh/*
github-copilot/*
gtk-3.0/*
htop/*
iterm2/*
karabiner/automatic_backups/*
karabiner/assets/*
linearmouse/*
nvim/*
omf/*
pip/*
raycast/*
scdl/*
simple-update-notifier/*
yarn/*
zed/*
.DS_Store